<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA_Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<title>Kajsas Quiz</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<nav class="navbar">
	<div class="container">
		<div class="our_own_navbar">
			<ul>
				<li><a class="a-start" href="{% url 'start_page' %}">Home</a></li>
				{% for quiz in quizzes %}
				<li><a class="a-start" href="{% url "quiz_page" quiz.quiz_number %}">{{ quiz.name }}</a></li>
				{% endfor %}
			</ul>
			
		</div>
		
	</div>

</nav>

<div class="jumbotron jumbotron3">
	<div class= "container">
	<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 questions question2">
			<h1>{{ quiz.name }}</h1>
			
			<h3>{{ question_number }}. {{ question }}</h3>
				<input type="radio" name="alt" id="alt1" value="">
				<label class="check" for="alt1">{{ answer1 }}</label><br>
				<input type="radio" name="alt" id="alt2" value="">
				<label class="check" for="alt2">{{ answer2 }}</label><br>
				<input type="radio" name="alt" id="alt3" value="">
				<label class="check" for="alt3">{{ answer3 }}</label><br>
				<a href="{% url 'results_page' quiz_number %}">
			<button class="quizknapp quizknapp2" style="vertical-align: middle"><span>RESULTAT</span></button></a>
			
		</div>
		<div class="col-md-3"></div>
	
</div>