body {
    
    background-image: url(http://www.orientamentoinrete.it/sites/default/files/blackboard.jpg);
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgba(255,255,255,0);
    border-radius: 0px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-top: 20px;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 1.0;
    text-align: center;


}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    border-bottom: 1px black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}



li a:hover {
    transition: 0.5s ease;
    text-decoration:none;
    color: white;
}

.startknapp {
    color: black;
    text-decoration: none;
}

.startknapp:hover {
    color: white;
    text-decoration: none;
    transition-property:color, text;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: linear;

}

.box1 {
   
    padding-top: 10px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    background-color: #CAF2CA;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    
}

.box1 {
    opacity: 0.5;
    
}

.box1:hover {
    opacity: 0.8;
    
}

.box1:hover {
  transform: scale(1.1);
}
.jumbotron2 {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-align: center;
    
}

.jumbotron1 {
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.jumbotron3{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(255,255,255,0);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.quizknapp {
    display: inline-block;
    border-radius: 4px;
    background-color: #009999;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;


}

.quizknapp2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #009999;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;


}

.quizknapp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.quizknapp span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.quizknapp:hover span {
  padding-right: 15px;
}

.quizknapp:hover span:after {
  opacity: 1;
  right: 0;
}

.questions {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.check:hover {
    color: #009999;
    transition-property:color, text;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: linear;
}